name: CI

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
#        architecture:
#          - system: x86_64-linux
#            runner: [linux, x64, ktisis, ktisis-c3d-highmem-8, ktisis-30GB]
#          - system: aarch64-linux
#            runner: [linux, ARM64, ktisis, ktisis-c4a-highmem-8, ktisis-30GB]
#        attribute:
#          - vm.closure
#          - vm-stable.closure
        architecture:
          - system: x86_64-linux
            runner: [linux, x64, ktisis, ktisis-c3d-highmem-8, ktisis-30GB]
            attribute: vm.closure
          - system: x86_64-linux
            runner: [ linux, x64, ktisis, ktisis-n4-highmem-8, ktisis-30GB ]
            attribute: vm-stable.closure
          - system: aarch64-linux
            runner: [linux, ARM64, ktisis, ktisis-c4a-highmem-4, ktisis-30GB]
            attribute: vm.closure
          - system: aarch64-linux
            runner: [ linux, ARM64, ktisis, ktisis-c4a-highmem-4, ktisis-30GB ]
            attribute: vm-stable.closure

    name: Build - ${{ matrix.architecture.system }} - ${{ matrix.architecture.attribute }}
    runs-on: ${{ matrix.architecture.runner }}

    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v16

      - uses: cachix/cachix-action@v15
        with:
          name: cosmic
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - env:
          SYSTEM: ${{ matrix.architecture.system }}
          ATTRIBUTE: ${{ matrix.architecture.attribute }}
        run: |
          nix -vL build --show-trace --cores 0 --max-jobs 1 --system "$SYSTEM" ".#$ATTRIBUTE"
