name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v9

      - uses: cachix/cachix-action@v14
        with:
          name: cosmic
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix -vL build --show-trace --cores 1 --max-jobs 2 .#vm
